.order-pet {
    font-size: 15pt;
    position: relative;
    left: 10px;
}
.order-separator {
    position: relative;
    margin: 0 auto 0 0;
    height: 1px;
    width: 20%;
    background-color: #d1d1d1;
    z-index: 1;
}
.separator-total {
    position: relative;
    margin: 0 auto 0 0;
    height: 1px;
    width: 20%;
    background-color: #a7a7a7;
    z-index: 1;
    /*top: 10px;*/
}
.last-total {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto 0 0 0;
}
#payment-info {
    position: relative;
    top: 10px;
    color: #c10000;
}